.grid{
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 9% 73% 18%;
    grid-template-rows: 150px 50px 1fr 100px;
    grid-template-areas: "nav header header" "noticia noticia aside" "informacion informacion informacion" "footer footer footer"

}
.nav{
    grid-area: nav;
    background-color: black;
    font-size: 15px;
}
.nav ul li{
    list-style: none;
    color: white;
    margin: 0px;
    padding-top: 12px;
    border: 1px solid;
}
nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 0px;
}
.header{
    grid-area: header;
    background-color: darkgray;
}
.header img{
    width: 103px;
    float: left;
}
.nav ul{
    padding-left:0px;
    width: 140px;
}